.footer {
    background-color: #504b4b;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: #00aaff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .footer {
        display: block;
    }

    .footer-content {
        display: block;
    }

    .footer-section h4 {
        text-align: center;
    }

    .footer-section p {
        width: 100%;
        max-width: 50%;
        margin: 0 auto; 
        text-align: center;
        font-size: 12px;
    }
}
