.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    width: 80%;
    height: auto;
}

.form-section {
    flex: 1;
    max-width: 400px; 
}

.form-section h2 {
    font-size: 30px;
    color: #fb2f2f;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    color: #fb2f2f;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 5px;
}

.form-group input::placeholder {
    padding-left: 5px;
}

.form-group input:focus {
    border-color: #9d9d9d;
    outline: none;
}

.error-message {
    color: red;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #fb2f2f;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

button:disabled {
    background-color: #cccccc;
}


@media (max-width: 1000px) and (min-width: 780px) {
    .image {
        width: 80%;
    }

    .form-section h2 {
        font-size: 22px;
    }
}

@media (max-width: 779px)  and (min-width: 600px) {
    .register-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image-section,
    .form-section-login {
        flex: 1;
        max-width: 50%;
    }

    .form-section h2 {
        font-size: 22px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-group input {
        font-size: 16px;
        padding: 7px;
    }

}

@media (max-width: 599px)  {
    .register-container {
        display: block;
        padding: 20px 0;
        height: 100%;
    }

    .image {
        width: 30%;
    }

    .form-section {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        align-items: center;
    }
}